extends layout

block content
  h5 Click the button to add a new player
  button(class='btn green lighten-1 waves-effect waves-teal' style='height:200px; width: 180px;')
    i(class='material-icons') add
